<section class="bg-[#21253F] w-full h-screen overflow-y-scroll fixed pb-32">
  <div class="container mx-auto pt-10">
    <h1 class="text-center font-bold text-4xl text-white">URL Shortener</h1>
    <div class="bg">
      <div class="flex justify-center space-x-0 pt-6">
        <input type="url" #url placeholder="  Input the URL" class="url">
        <button (click)="shortenUrl(url.value)" [disabled]="isLoading"
          class="btn {{ isLoading ? 'bg-gray-400' :'bg-black' }} inline-flex">Shorten <img *ngIf="isLoading"
            src="/assets/ring.gif" alt="" srcset="">
        </button>
      </div>

      <div *ngIf="!response">
        <p class="text-center text-lg pt-3 italic">Enter a valid URL to shorten</p>
      </div>
      <div *ngIf="response" class="py-4">
        <p class="text-2xl font-bold italic text-[#21253F]">Response</p>

        <div class="txt w-full">
          <p class="code">Code: </p>
          <p class="response relative">
            <input readonly value="{{ response.result.code }}" class="w-full ring-1 ring-blue-600 outline-none p-2">
            <i (click)="copyText(response.result.code)" class="fa fa-clone cursor-pointer absolute right-5 top-3"
              aria-hidden="true" title="Copy"></i>
          </p>
        </div>
        <div class="txt">
          <p class="code">Short link: </p>
          <p class="response relative">
            <input readonly value="{{ response.result.short_link }}"
              class="w-full ring-1 ring-blue-600 outline-none p-2">
            <i (click)="copyText(response.result.short_link)" class="fa fa-clone absolute cursor-pointer right-5 top-3"
              aria-hidden="true" title="Copy"></i>
          </p>

        </div>
        <div class="txt">
          <p class="code">Full short link: </p>
          <p class="response ">
            <input readonly value="{{ response.result.full_short_link }}"
              class="w-full ring-1 ring-blue-600 outline-none p-2">
          </p>

        </div>
        <div class="txt">
          <p class="code">Short link two: </p>
          <p class="response">
            <input readonly value="{{ response.result.short_link2 }}"
              class="w-full ring-1 ring-blue-600 outline-none p-2">

          </p>
        </div>
        <div class="txt">
          <p class="code">Full short link two: </p>
          <p class="response ">
            <input readonly value="{{ response.result.full_short_link2 }}"
              class="w-full ring-1 ring-blue-600 outline-none p-2">
          </p>
        </div>
        <div class="txt">
          <p class="code">Share link: </p>
          <p class="response ">
            <input readonly value="{{ response.result.share_link }}"
              class="w-full ring-1 ring-blue-600 outline-none p-2">

          </p>
        </div>
        <div class="txt">
          <p class="code">Full share link: </p>
          <p class="response ">
            <input readonly value="{{ response.result.full_share_link }}"
              class="w-full ring-1 ring-blue-600 outline-none p-2">
          </p>

        </div>
        <div class="txt">
          <p class="code">Original link: </p>
          <p class="response ">
            <input readonly value="{{ response.result.original_link }}"
              class="w-full ring-1 ring-blue-600 outline-none p-2">
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
